{% extends "base.html" %}
{% block content %}

<div class="container mt-4">
    <h2 class="text-center mb-4">Editar Producto</h2>

    <form action="{{ url_for('editar_producto_bp.edit', product_name=product.name) }}" method="POST">
        <div class="mb-3">
            <label>Nombre</label>
            <input type="text" class="form-control" name="name" value="{{ product.name }}">
        </div>
        <div class="mb-3">
            <label>Descripción</label>
            <input type="text" class="form-control" name="description" value="{{ product.description }}">
        </div>
        <div class="mb-3">
            <label>Precio</label>
            <input type="text" class="form-control" name="price" value="{{ product.price }}">
        </div>
        <div class="mb-3">
            <label>Cantidad</label>
            <input type="text" class="form-control" name="stock" value="{{ product.stock }}">
        </div>
        <div class="mb-3">
            <label>Categoría</label>
            <input type="text" class="form-control" name="category" value="{{ product.category }}">
        </div>

        <button type="submit" class="btn btn-primary">Guardar Cambios</button>
    </form>
</div>

{% endblock %}

