{% extends "base.html" %}
{% block content %}
<div class="container mt-4">
    <h2>Editar Producto</h2>

    <form action="{{ url_for('edit', product_name=product.name) }}" method="POST">

        <div class="mb-3">
            <label>Nombre:</label>
            <input type="text" name="name" value="{{ product.name }}" class="form-control">
        </div>

        <div class="mb-3">
            <label>Descripción:</label>
            <input type="text" name="description" value="{{ product.description }}" class="form-control">
        </div>

        <div class="mb-3">
            <label>Precio:</label>
            <input type="text" name="price" value="{{ product.price }}" class="form-control">
        </div>

        <div class="mb-3">
            <label>Stock:</label>
            <input type="text" name="stock" value="{{ product.stock }}" class="form-control">
        </div>

        <div class="mb-3">
            <label>Categoría:</label>
            <input type="text" name="category" value="{{ product.category }}" class="form-control">
        </div>

        <button class="btn btn-success">Guardar</button>
        <a href="{{ url_for('listar') }}" class="btn btn-secondary">Cancelar</a>

    </form>
</div>
{% endblock %}
