{% extends "base.html" %}
{% block content %}
<div class="container">
    <h1 class="text-center mt-5 mb-5">Alta Producto</h1>
    <div class="card">
        <div class="card-body">
            <form action="/products" method="POST">
                <label>Nombre</label>
                <input type="text" class="form-control mb-3" name="name">

                <label>Descripción</label>
                <input type="text" class="form-control mb-3" name="description">

                <label>Precio</label>
                <input type="text" class="form-control mb-3" name="price">

                <label>Cantidad</label>
                <input type="text" class="form-control mb-3" name="stock">

                <label>Categoría</label>
                <input type="text" class="form-control mb-3" name="category">

                <button class="btn btn-primary" type="submit">Guardar</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
