{% extends "base.html" %}
{% block content %}

<h1 class="text-center mt-4 mb-4">Crear Producto</h1>

<div class="row justify-content-center">

    <!-- Formulario crear producto -->
    <div class="col-12 col-md-8 col-lg-6 mb-3">
        <div class="card shadow">
            <div class="card-header text-center">
                <h5>Alta Juego</h5>
            </div>
            <div class="card-body">

                <form action="/products" method="POST" enctype="multipart/form-data">
                    
                    <label>Nombre</label>
                    <input type="text" class="form-control mb-3" name="name">

                    <label>Descripción</label>
                    <input type="text" class="form-control mb-3" name="description">

                    <label>Imagen</label>
                    <input type="file" class="form-control mb-3" name="image" accept="image/*">

                    <label>Precio</label>
                    <input type="text" class="form-control mb-3" name="price">

                    <label>Cantidad</label>
                    <input type="text" class="form-control mb-3" name="stock">

                    <label>Categoría</label>
                    <input type="text" class="form-control mb-3" name="category">

                    <label>Oferta</label>
                    <input type="text" class="form-control mb-3" name="offer">

                    <button class="btn btn-primary w-100" type="submit">Guardar</button>

                </form>

            </div>
        </div>
    </div>

</div>

{% endblock %}
