{% extends "base.html" %}
{% block content %}
<div class="container mt-4">
    <h2>Listado de Productos</h2>
    <table class="table table-striped table-bordered">
        <thead class="table-dark">
            <tr>
                <th>Nombre</th>
                <th>Descripción</th>
                <th>Precio</th>
                <th>Cantidad</th>
                <th>Categoría</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for product in products %}
            <tr>
                <td>{{ product.name }}</td>
                <td>{{ product.description }}</td>
                <td>{{ product.price }}</td>
                <td>{{ product.stock }}</td>
                <td>{{ product.category }}</td>
                <td>
                    <form action="{{ url_for('edit', product_name=product.name) }}" method="POST" style="display:inline-block;">
                        <button class="btn btn-primary btn-sm">Editar</button>
                    </form>
                    <a href="{{ url_for('delete', product_name=product.name) }}" class="btn btn-danger btn-sm">Eliminar</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
